.list {
 color:black; 
text-align: left;
font-weight: lighter;
font-size: 40px;
}

.title {
    color:black;
    text-align: center;
    font-weight: bold;
    font-size: 45px;
    font-family:'Times New Roman', Times
}

.title2 {
    color:black;
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    font-family:'Times New Roman', Times
}
