.list {
 color:black; 
text-align: left;
font-weight: lighter;
font-size: 55px;
}

.title {
    color:black;
    text-align: center;
    font-weight: lighter;
    font-size: 90px;
    font-family:'Times New Roman', Times, serif
}

.title2 {
    color:darkgrey;
    text-align: center;
    font-weight: lighter;
    font-size: 125px;
    font-family:Snell Roundhand
}
